venv/
faiss_index/
.env
__pycache__
frontend/node_modules/
chatbot.db
*.db
.github/

# Gradle
.gradle/
build/
**/build/
**/build-*/
**/intermediates/
**/generated/
**/outputs/
**/tmp/
**/incremental/
**/merge/
.cxx/
.externalNativeBuild/

# Local configuration
local.properties
*.iml
.idea/
*.iws
*.log
captures/
output.json
*.keystore

# OS files
.DS_Store
Thumbs.db

# Android / Java / Kotlin compiled files
*.class
*.dex
*.apk
*.ap_
*.aab

# NDK / external build outputs
obj/
*.so

# Testing
*.hprof
*.orig
*.rej
*.patch

# Misc
*.bin
*.lock
*.tmp
*.bak

