venv/
faiss_index/
.env
__pycache__
frontend/node_modules/
chatbot.db
*.db
.github/

# Gradle
.gradle/
build/

# Local configuration
local.properties
*.iml

# Android Studio
.idea/
*.iws
*.log
captures/
output.json

# APK / generated binaries
*.apk
*.ap_
*.aab

# NDK / external build outputs
obj/
.externalNativeBuild/

# Kotlin / Java compiled files
*.class
*.dex

# Other
*.keystore
